@model ManufacturerModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string image = $"data:image/jpg;base64, {Model.Image}";
}

<div class="row">
    <div class="col-4">
        <div class="details">
            <h2 class="details__title">Manufacturer</h2>
            <h3 class="details__name">@Html.DisplayFor(model => model.Name)</h3>
            <img class="details__image" src="@image" alt="@Model.Name" />
            <div class="details__links-wrapper">
                <a class="details__link" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                <a class="details__link" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
    <div class="col-8">
        @Html.Partial("../Product/ProductsList", Model.Products)
    </div>
</div>

