@model ManufacturerModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-4">
        <form class="details" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @{
                string image = $"data:image/jpg;base64, {Model.Image}";
            }
            <div class='form-group mb-2'>
                <label class="control-label" for="imageFile">Enter Image</label>
                <label class="image-label" style="background-image: url('@image')">
                    <input class="form-control image-input" type="file" name="imageFile">
                    <div class="image-square"></div>
                </label>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="details__links-wrapper">
                <input class="details__link" type="submit" value="Save"/>
                <a class="details__link" asp-action="Index">Back to List</a>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Image" />
        </form>
        <form class="button-wrapper" asp-controller="Product" asp-action="Create">
            <input type="hidden" name="id" value="@Model.Id" />
            <button class="btn btn-primary" type="submit">Add Product</button>
        </form>
    </div>
    <div class="col-8">     
        @Html.Partial("../Product/ProductsList", Model.Products)
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
